body{
    border: solid thin black;
    padding: 2em;
    margin: 1em;
    background: linear-gradient(lavender,white);
    font-family:fantasy;
}
header{
    margin-top: .5em;
    border-bottom: solid thick black;
    color: black;
    font-size: 16pt;
    text-align: center;
}
p{
    clear: right;
}
img{
    border-radius: 0%;
    border: solid thin black;
}
footer{
    border-top: solid thin black;
    padding-top: 1em;
}
ul{list-style:square}
div{
    border-top: solid thin black;
    border-bottom: solid thin black;
    padding-bottom: 1em;
}
main p{
    font-size: 20pt;
    font-weight: bold;
}
#badger{
    float: left;
    position: relative;
    top:-80px;
}